<div class="comp-header">
  <div class="comp-logo-container">
      <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo comp-logo" src="static/img/logo-large-cow.png" alt="MoovnOn logo">
      </a> 
<!--        <div class="title-container">
        <h1 class="title">Moovn On</h1>
        <p class = "title-motto title-city">Find Greener Pastures</p>
       </div> -->
</div>


  <div class="comp-city-title"><%- m.city1%></div>
  <div class="comp-city-title"><%- m.city2%></div>
</div>

<div class="pure-g comp-grid">

  <div class="pure-u-1-1 comp-graph-title">Cost of Living & Taxes</div>
  <div class="pure-u-1-1 duo-1-vert cost-taxes">
  	<div class="comp-chart-cont comp-chart1-1"></div>
    <div class="comp-chart-cont comp-chart2-1"></div>	  
  </div>

  <div class="pure-u-1-1 duo-1-vert cost-taxes">
    <div class="comp-chart-cont comp-chart1-2"></div>
    <div class="comp-chart-cont comp-chart2-2"></div> 
  </div>

  <div class="pure-u-1-1 comp-graph-title">Housing Prices</div>
  <div class="pure-u-1-1 duo-1-vert">
    <div class="comp-chart-cont comp-chart1-3"></div>
    <div class="comp-chart-cont comp-chart2-3"></div> 
  </div>

  <div class="pure-u-1-1 comp-graph-title">Cell Connectivity</div>  
  <div class="pure-u-1-1 duo-1-vert">
    <div class="comp-chart-cont comp-chart1-4"></div>
    <div class="comp-chart-cont comp-chart2-4"></div> 
  </div>

  <div class="pure-u-1-1 comp-graph-title">Age Demographics</div>
  <div class="pure-u-1-1 duo-1-vert">
    <div class="comp-chart-cont comp-chart1-5"></div>
    <div class="comp-chart-cont comp-chart2-5"></div> 
  </div>
      


</div>