<!--side bar-->
<div class = "side-nav-container" id="tabs">
  <ul class="side-nav-list">
    <div class="logo-container">
      <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow-white.png" alt="MoovnOn logo">
      </a> 
       <div class="title-container">
        <h1 class="title">Moovn On</h1>
        <p class = "title-motto title-city"><%- m.city %></p>
       </div>
    </div>

      <li class="side-nav-item">
        <a href="#tabs-1" class="side-nav-item-container">
          <i class="fa fa-usd side-icon"></i>
          Cost of Living 
        </a>
      </li>
      
      <div id="tabs-1">
        <h2>Its expensive</h2>
       </div>
          
      <li class="side-nav-item">
        <a href="#tabs-2" class="side-nav-item-container">
          <i class="fa fa-laptop side-icon"></i>
          Internet Providers 
        </a>
      </li>
      
      <div id="tabs-2">
        <h2>Because the internet</h2>
      </div>
    
      <li class="side-nav-item">
        <a href="#tabs-3" class="side-nav-item-container">
          <i class="fa fa-mobile side-icon"></i>
          Cell Coverage
        </a>
      </li>
      
      <div id="tabs-3">
        <h2>Can you here me now?</h2>
      </div>
    
      <li class="side-nav-item">
        <a href="#tabs-4" class="side-nav-item-container">
          <i class="fa fa-building side-icon"></i>
          Industry
        </a>
      </li>
      
      <div id="tabs-4">
        <h2>Work!</h2>
      </div>
      
      <li class="side-nav-item">
        <a href="#tabs-5" class="side-nav-item-container">
          <i class="fa fa-book side-icon"></i>
          Education
        </a>
      </li>
      
      <div id="tabs-5">
        <h2>Learn!</h2>
      </div>
      
      <li class="side-nav-item">
        <a href="#tabs-6" class="side-nav-item-container">
          <i class="fa fa-money side-icon"></i>
          Taxes
        </a>
      </li>
      
      <div id="tabs-6">
        <h2>The gov't gotta get some!</h2>
      </div>
      
      <li class="side-nav-item">
        <a href="#tabs-7" class="side-nav-item-container">
          <i class="fa fa-male side-icon"></i>
          Demographics
        </a>
      </li>
      
      <div id="tabs-7">
        <h2>People are everywhere</h2>
      </div>

   </ul>
</div>
