<!--side bar-->
<div class = "side-nav-container">
  <ul class="side-nav-list">
    <div class="logo-container">
      <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow-white.png" alt="MoovnOn logo">
      </a> 
       <div class="title-container">
        <h1 class="title">Moovn On</h1>
        <p class = "title-motto title-city"><%- m.city %></p>
       </div>
    </div>

    <a href="#tab-1" class="side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-usd side-icon"></i>
        Cost of Living
      </li>
    </a>
    
    <a href="#tab-2" class = "side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-laptop side-icon"></i>
        Internet Providers
      </li>
    </a>
    
     <a href="#tab-3" class = "side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-mobile side-icon"></i>
        Cell Coverage
      </li>
    </a>
    
    <a href="#costOfLiving" class = "side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-building side-icon"></i>
        Industry
      </li>
    </a>
    
    <a href="#costOfLiving" class = "side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-book side-icon"></i>
        Education
      </li>
    </a>
    
    <a href="#costOfLiving" class = "side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-money side-icon"></i>
        Taxes
      </li>
    </a>
    
    <a href="#costOfLiving" class = "side-nav-item-container">
      <li class="side-nav-item">
        <i class="fa fa-male side-icon"></i>
        Demographics
      </li>
    </a>
  
   </ul>
</div>
