<button class="fa fa-bars bar-menu-icon"></button>
<div class="city-all-container">
  <div class="pure-g">
  	<h2 class="pure-u-1-2"><%- m.city1 %></h2>
  	<h2 class="pure-u-1-2"><%- m.city2 %></h2>	
    <div class="pure-u-1-2 duo-1-vert">
    		
     <!--  <div class="refresh">
        <i class="fa fa-refresh fa-spin"></i>
      </div> -->
      <div>
	      <div class="comp-chart-cont comp-chart1"></div>
	      <div class="comp-chart-cont comp-chart2"></div>
      </div>
    </div>
    
    <div class="pure-u-1-2 duo-2-vert" id="google-map">


    	<div>
	    	<div class="comp-chart-cont comp-chart3"></div>
	      <div class="comp-chart-cont comp-chart4"></div>
      </div>

    </div>
  
  </div>
</div>
<!-- div for google places -->
<div id="map"></div>