<div class="pure-g comp-grid">

<div class="comp-header">
  <div class="comp-logo-container">
      <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo comp-logo" src="static/img/logo-large-cow.png" alt="MoovnOn logo">
      </a> 
  </div>

  <div class="pure-u-1-1 comp-city-title comp-city-title-mobile-left left" ><%- m.city1%></div>
  <div class="pure-u-1-1 comp-city-title comp-city-title-mobile-right right"><%- m.city2%></div>
</div>

  <div class="pure-u-1-1 comp-graph-title">
    <h2 class="graph-title">Comparison Overview</h2>
  </div>
  
  <div class="pure-u-1-1 duo-1-vert left">
    <div class="comp-chart1-2">
      <div class="comp1-1"></div>
      <div class="comp1-2"></div>
      <p>Sales Tax: </p>
      <div class="comp1-3"></div>
    </div>
  </div>
  
  <div class="pure-u-1-1 duo-1-vert right">
    <div class="comp-chart2-2">
      <div class="comp2-1"></div>
      <div class="comp2-2"></div>
      <p>Sales Tax: </p>
      <div class="comp2-3"></div>
    </div>  
  </div>

  <div class="pure-u-1-1 comp-graph-title">
    <h2 class="graph-title">Housing Prices</h2>
    <p>Updated monthly, data availability varies</p>
  </div>
  
  <div class="pure-u-1-1 duo-1-vert left">
    <div class="comp-chart1-3"></div>
  </div>
  <div class="pure-u-1-1 duo-1-vert right">
    <div class="comp-chart2-3"></div> 
  </div>

  <div class="pure-u-1-1 comp-graph-title">
    <h2 class="graph-title">Age Demographics</h2>
  </div>
  
  <div class="pure-u-1-1 duo-1-vert left">
    <div class="comp-chart1-5"></div>
  </div>
  <div class="pure-u-1-1 duo-1-vert right">
    <div class="comp-chart2-5"></div> 
  </div>
  
  <div class="pure-u-1-1 comp-graph-title">
    <h2 class="graph-title">Cell Connectivity</h2>
    <p>Updated weekly, data availability varies</p>
  </div>
    
  <div class="pure-u-1-1 duo-1-vert left">
    <div class="comp-chart1-4"></div>
  </div>
  <div class="pure-u-1-1 duo-1-vert right">
    <div class="comp-chart2-4"></div> 
  </div>

</div>