<header>
  <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow.png" alt="MoovnOn logo">
  </a> 
   <div class="title-container">
    <h1 class="title">Moovn On</h1>
    <p>Find Greener Grasses</p>
   </div>
  
</header>
<form class="pure-form compare-form">
  <input class="search-city" id="tags" placeholder="Enter city">
  <input class="search-city-comp hidden" id="tags2" placeholder="City to compare">
  <button class="submit">Submit
  </button>
  <button class="compare">Compare</button>
</form>

<div class="map-container">
  <img class = "map-image" src="static/img/Blank-US-Map.svg.png" alt="United States Map">  
</div>
