<header>
  <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow.png" alt="MoovnOn logo">
  </a> 
   <div class="title-container">
    <h1 class="title">Moovn On</h1>
    <p class = "title-motto title-city">Find Greener Pastures</p>
   </div>
</header>
<form class="pure-form compare-form">
  <input class="search-city" id="tags" placeholder="Enter city" autofocus>
  <input class="search-city-comp hidden" id="tags2" placeholder="City to compare">
  <button class="submit pure-button">Search
  </button>
  <!--<button class="compare pure-button">Compare</button>-->
</form>

<div class="map-container">
  <img class = "map-image" src="static/img/Blank-US-Map.svg.png" alt="United States Map">  
</div>
