<!-- Possible alert bar -->
<!-- <div id="alert">
    <a class="alert" href="#alert">This is a slide down alert!</a>
</div>
 -->
<header class="header-home">
  <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow.png" alt="MoovnOn logo">
  </a>
   <div class="title-container">
    <h1 class="title">Moovn On</h1>
    <p class = "title-motto title-city">Find Greener Pastures</p>
   </div>
</header>
<div class ="search-page-container">

  <form class="pure-form search-form search-form-searchView">
    <div class="sub-title-container">
      <h1 class="sub-title">Move Better</h1>
      <p>Unbiased info about where you're going</p>
    </div>
    <input class="search-city search-city-searchView" id="tags" placeholder="Enter city" autofocus>
    <input class="search-city-comp hidden" id="tags2" placeholder="City to compare">
    <button class="submit pure-button">Search
    </button>
    <!--<button class="compare pure-button">Compare</button>-->
  </form>

  <div class="map-container">
    <img class = "map-image" src="static/img/Blank-US-Map.svg.png" alt="United States Map">
  </div>

  <div class="pure-g flow-container">
    <div class="pure-u-1 pure-u-sm-1-3 flow">
      <i class="fa fa-bar-chart flow-icon"></i>
      Find the info you need
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 flow">
      <i class="fa fa-compass flow-icon"></i>
      for wherever you're going
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 flow">
      <i class="fa fa-globe flow-icon"></i>
      in every city in America.
    </div>
  </div>

</div>

<div class = "powered-by-container">
  <span class = "google powered-by">
    <img src="static/img/powered-by-google-on-white.png" alt="google" />
  </span>
  <!-- <span class = "glass-door powered-by">
    <a href='http://www.glassdoor.com/index.htm'><p>Powered by</p>
      <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' />
    </a> -->
  </span>
  <span class = "zillow powered-by">
    <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40.gif" width="150" height="40" alt="Zillow Real Estate Search" />
  </span>
</div>
