
  <!--side bar-->
  <div class = "side-nav-container">
  
      <div class="logo-container">
        <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow-white.png" alt="MoovnOn logo">
        </a> 
         <div class="title-container">
          <h1 class="title">Moovn On</h1>
          <p class = "title-motto title-city">Find Greener Pastures</p>
         </div>
      </div>
    <ul class="side-nav-list">
     <h1 class = "city-title"><%- m.city %></h1>
      
      <a href="#search/<%- m.city %>/overview" class = "side-nav-item-container">
        <li class="side-nav-item overview">
          <i class="fa fa-plane side-icon"></i>
          OVERVIEW 
        </li>
      </a> 
      
      
      <a href="#search/<%- m.city %>/housing" class = "side-nav-item-container">
        <li class="side-nav-item housing">
          <i class="fa fa-home side-icon"></i>
          HOUSING 
        </li>
      </a> 
      
      <a href="#search/<%- m.city %>/internet" class = "side-nav-item-container">
        <li class="side-nav-item internet">
          <i class="fa fa-laptop side-icon"></i>
          CELL
        </li>
      </a>
          
      <a href="#search/<%- m.city %>/people" class = "side-nav-item-container">
        <li class="side-nav-item people">
          <i class="fa fa-male side-icon"></i>
          PEOPLE
        </li>
      </a>
      
      <a href="#search/<%- m.city %>/industry" class = "side-nav-item-container">
        <li class="side-nav-item industry">
          <i class="fa fa-building side-icon"></i>
          JOBS
        </li>
      </a>
      
      <a href="#search/<%- m.city %>/places" class = "side-nav-item-container">
        <li class="side-nav-item leisure">
          <i class="fa fa-beer side-icon"></i>
          PLACES
        </li>
      </a>
      
      <a href="#search/<%- m.city %>/education" class = "side-nav-item-container">
        <li class="side-nav-item education">
          <i class="fa fa-book side-icon"></i>
          EDUCATION
        </li>
       </a>
      
      <form class="search-form search-form-city-view">
        <input class="search-city search-city-view" id="tags" placeholder="Search Cities">
          <button class="submit submit-city-view" id="side-bar-button"><i class="fa fa-search"></i>
          </button>
        <input class="search-city-comp hidden" id="tags2" placeholder="City to compare">
      </form>
      
     </ul>
  </div>
<div class = "side-bar-background">
</div>