
<!--side bar-->
<div class = "side-nav-container">
  <ul class="side-nav-list">
    <div class="logo-container">
      <a class="moovnon-logo-container" href="#search"><img class = "moovnon-logo" src="static/img/logo-large-cow-white.png" alt="MoovnOn logo">
      </a> 
       <div class="title-container">
        <h1 class="title">Moovn On</h1>
        <p class = "title-motto title-city">Find Greener Pastures</p>
       </div>
    </div>

    <a href="#search/<%- m %>/housing" class = "side-nav-item-container">
      <li class="side-nav-item housing">
        <i class="fa fa-home side-icon"></i>
        HOUSING 
      </li>
    </a> 
    
    <a href="#search/<%- m %>/internet" class = "side-nav-item-container">
      <li class="side-nav-item internet">
        <i class="fa fa-laptop side-icon"></i>
        INTERNET & CELL
      </li>
    </a>
        
    <a href="#search/<%- m %>/people" class = "side-nav-item-container">
      <li class="side-nav-item people">
        <i class="fa fa-male side-icon"></i>
        PEOPLE
      </li>
    </a>
    
    <a href="#search/<%- m %>/transportation" class = "side-nav-item-container">
      <li class="side-nav-item transportation">
        <i class="fa fa-car side-icon"></i>
        TRANSPORTATION
      </li>
    </a>
    
    <a href="#search/<%- m %>/industry" class = "side-nav-item-container">
      <li class="side-nav-item industry">
        <i class="fa fa-building side-icon"></i>
        INDUSTRY & JOBS
      </li>
      </a>
    
    <a href="#search/<%- m %>/taxes" class = "side-nav-item-container">
      <li class="side-nav-item taxes">
        <i class="fa fa-money side-icon"></i>
        TAXES
      </li>
    </a>
    
    <a href="#search/<%- m %>/leisure" class = "side-nav-item-container">
      <li class="side-nav-item leisure">
        <i class="fa fa-beer side-icon"></i>
        LEISURE
      </li>
    </a>
    
    <a href="#search/<%- m %>/education" class = "side-nav-item-container">
      <li class="side-nav-item education">
        <i class="fa fa-book side-icon"></i>
        EDUCATION
      </li>
     </a>
    
    <form class="search-form search-form-city-view">
      <button class="submit submit-city-view">Search
        </button>
      <input class="search-city search-city-view" id="tags" placeholder="Search another city" autofocus>
      <input class="search-city-comp hidden" id="tags2" placeholder="City to compare">
    </form>
    
   </ul>
   
     
</div>