.comp-grid {
	margin-top: 100px;
}

.comp-chart-cont {
	width: 45%;
	float: left;
	padding: 1em;
}

.comp-graph-title {
	text-align: center;
	padding-top: 2.8em;
	font-size: 1.2em;
}

.comp-header {
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	z-index: 100;
}
