//alignment of template elements
.main-content{
  height:100vh;
}
.quad-1, .quad-2{
  margin-top:1.5em;
}
.duo-1, .duo-1-vert, .duo-2-vert{
  margin-top: 1.5em;
}
.duo-2{
  margin-top: 1.5em;
}
//temporary fix for comp view
// .duo-1-vert, .duo-2-vert{
//   padding-right:2em;
//   padding-left:2em;
// }
.city-all-container{
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 14em;
}
//fixes alignment on places details
.duo-2-vert h1 {
  margin-top: 0;
  font-family: Century Gothic, sans-serif; 
}
//Graph and Chart adjustments
.refresh{
  font-size: 3em;
  text-align: center;
}
.graph{
  width:50%;
}
.gauge-title{
  display:none;
  text-align: center;
  margin-bottom: 0.2em;
  margin-top:1em;
  font-size:1.5em;
}
.gauge-graph{
  padding-top:3em;
}
.c3-axis-x{
  font-size:12px;
}
.graph-title{
  text-align: center;
  color: $comp-color;
}
.rel-title{
  margin:auto;
}
.graph-rel-title{
  padding-top:2em;
  text-align: center;
  color: $comp-color;
}
.download-title{
  margin:auto;
}
.graph-download-title{
  padding-top:1em;
  text-align: center;
  color: $comp-color;
}
.no-data-message{
  padding-top:2em;
  text-align: center;
}
.housing-graph{
  padding-top:3em;
}
.graph-download-subtitle{
  text-align: center;
}
.comp-graph-title p{
  font-size: 0.8em;
}
.overview-graph2 p{
  text-align: center;
}
.neighborhood-housing-subtitle{
  color: black;
  text-align: center;
}

//adjusts tabs in certain views to go fullscreen
.full-screen-container{
  margin-top: 0em;
  margin-right:0em;
  margin-left: 12.9em;
}
.full-screen-duo1{
  margin-top:0em;
}
.full-screen-tab-container{
  border-radius: 0px;
  border-bottom: none;
  border-radius: 10px;
  border-right:none;
  border-left:none;
}
//education
.school-info-title{
  text-align: center;
}


// css for places details 
.clickSpan {
  cursor: pointer;
  text-decoration: none;
  color:#0046B2;
  line-height: 1.5;
}
.clickSpan:hover {
  color: $comp-color;
  text-decoration: underline;
}
.clickSpan-selected {
  color: $comp-color;
}
.select-details{
  padding-top:7em;
  color: $comp-color;
}
.full-screen-details-right{
  max-height: 80vh;
}
//people page
.people-left{
  line-height: 1.5;
  padding-left:1em;
  padding-right: 1em;
}
.people-left h1{
  color: $comp-color;
  font-size: 1.5em;
}
.people-right{
  border-left: 1px solid #E5E5E5;
  background-color: #F6F6F6;
  line-height: 1.5;
}
.people-right h1{
  font-size: 1.5em;
}


//overview page
.overview-city-title{
  font-size: 1.5em;
  text-align: center;
  font-family: Century Gothic, sans-serif;
}
.overview-title{
  text-align: left;
  color:$comp-color;
  font-size: 1.2em;
}
.overview-tax-container, .overview-cost-container, .overview-cityImg-container, .overview-cityImg-container-mobile{
  padding-left: 3em;
  padding-top: 1em;
  background-color: white;
}
.overview-tax-container, .overview-cost-container{
  padding-top: 3em;
  padding-right:1em;
}
.overview-tax-container p{
  line-height: 1.5;
}
.overview-cost-container p{
  line-height: 1.5;
}
.overview-cityImg-container, .overview-cityImg-container-mobile{
  padding-left: 0em;
  position: relative;
}
.overview-city-img{
  // background-image: url("../img/chicago-outline.jpg");
  width:100%;
  padding-bottom: 3em;
}
.overview-img{
  max-width:300px;
  position:absolute;
  bottom:0;
}
.overview-graph-title{
  color: $comp-color;
  padding-top:1em;
  padding-left: 1.5em;
  border-top:1px solid #E5E5E5;
}
.overview-graph-container{
  background-color: #F6F6F6;
  border-bottom:1px solid #E5E5E5;
}
.city-all-container-overview{
  margin-left: 12.9em;
  margin-right:0em;
  margin-bottom: 0em;
  background-color: #F6F6F6;
  background-size:cover;
}
.overview-cityImg-container-mobile{
  display:none;
}

