.logo-container{
  max-width: 200px;
  display: inline-block;
  margin-bottom:1em;
  padding:0.3em;
}
.side-nav-container{
  max-width:200px;
  float: left;
}
.side-nav-list{
  background-color: $primary-color;
  color: white;
  height: 100vh;
}
.side-nav-item-container{
  text-decoration: none;
  color:$light-primary-color;
  font-size: 1em;
}
.side-nav-item{
  padding:0.5em;
  padding-left:1em;
  border-left:3px solid $primary-color;
}

.side-icon{
  min-width:25px;
  color:$light-primary-color;
}
.side-nav-item-container:hover .side-nav-item{
  color:white;
  background: $dark-primary-color;
  border-left:3px solid white;
}
.side-nav-item-container:hover .side-icon{
  color:white;
}
.city-content{
  max-height: 400px;
  max-width: 600px;
}
// #tabs{
//   width:100%;
//   // float:right;
// }


  .ui-tabs-nav{
    height:60vh;
   }
  .ui-tabs-vertical { 
    width: 55em; 
   }
  .ui-tabs-vertical .ui-tabs-nav { 
    padding: .2em .1em .2em .2em; 
    float: left; 
    width: 12em; 
    }
  .ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important; 
    margin: 0 -1px .2em 0; 
    }
  .ui-tabs-vertical .ui-tabs-nav li a { 
    display:block; 
    }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    padding-bottom: 0;
    padding-right: .1em; 
    border-right-width: 1px; 
    }
  .ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em; 
    width: 40em;
    }








#accordion h3{
  background-color: lightgray;
}
.city-all-container{
  margin: 2em;
}
.city-title{
  text-align: left;
}

#chartType{
margin: auto;
}
.city-map-container {
	text-align: center;
}