.quad-1, .quad-2{
  margin-top:1.5em;
}
.tri-1 {
  margin-top: 3.4em;
}
// .quad-3, .quad-4{
//   margin-top: 1em
// }
.duo-1, .duo-1-vert, .duo-2-vert{
  margin-top: 1.5em;
}
.duo-2{
  margin-top: 1.5em;
}
.duo-1-vert, .duo-2-vert{
  padding-right:0.7em;
  padding-left:0.7em;
}
//fixes alignment on places details
.duo-2-vert h1 {
  margin-top: 0;
  font-family: Century Gothic, sans-serif; 
}

.refresh{
  font-size: 3em;
  text-align: center;
}

#accordion h3{
  background-color: lightgray;
}
.city-all-container{
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 14em;
}
.graph{
  width:50%;
}


@media screen and (max-width: 670px) {
    .city-all-container{
      margin: 0.1em;
    }
    .bar-menu-icon{
      margin-top:0.7em;
      margin-left:0.7em;
      margin-bottom: 0em;
    }
    .duo-1{
      margin-top: 1em;
    }
    .r-tabs .r-tabs-panel {
    padding-left: 30px;
    }
}

// css for places details 

.clickSpan {
  cursor: pointer;
  text-decoration: none;
  color:#0046B2;
  line-height: 1.5;
}
.clickSpan:hover {
  color: $comp-color;
  text-decoration: underline;
}
.clickSpan-selected {
  color: $comp-color;
}
.select-details{
  padding-top:7em;
  color: $comp-color;
}
