.tooltip{
  position:absolute;
  background:white;
  border-radius: 0.3em;
  height: auto;
  border: 1px solid black;
}
.bubble-title h2{
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  color: $comp-color;
}
.tri-2{
  width: 100%;
}
.tri-1{
  margin:auto;
}
.bubble-title{
  letter-spacing: 0;
}
.jobList{
  line-height: 1.5;
}
#boxplot text {
  font-size:2.2em;
}
#boxplot{
  overflow: visible;
  padding-left: 3.5em;
}
.industry-form, .salary-title{
  padding-top:1em;
  text-align: center;
  color: $comp-color;
}
.income-title{
  text-align: center;
  color: $comp-color;
  padding-top:1em;
  padding-bottom:1em;
}