.tri-1-edu, .tri-2-edu {
	margin-top: 1em;
}
.school-info {
	height: 400px;
}
.school-title{
	color: #0046B2;
	line-height: 1.5;
}
.school-title:hover {
	cursor: pointer;
	text-decoration: underline;
}
.school-modal {
	height: 400px;
	width: 100%;
	display: none; 
	padding: 1em;
	position: relative;
}
.school-info-container {
	height: 400px;
	overflow: auto;
	padding: 1em;
}
.school-modal-content {
	padding: 1em;	
	margin-bottom: 0.5em;
	overflow: hidden;
	height: 100%;
	border: 1px solid black;
	border-radius: 12px;
}
.school-modal-x {
	margin: 0.6em;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.school-details {
  line-height: 1.5;
}
.details-titles {
  line-height: 1.5;
  font-weight: 900;
}
