$primary-color:#354052;
$light-primary-color:#A5B6C3;
$dark-primary-color:#2F3948;
$lighter-primary-color:#ECF2F6;
$comp-color: #B27700;

$graph-color-1:#3D5E99;
$graph-color-2:#CC2E14;
$graph-color-3:#707D94;
$graph-color-4:#FF7640;
