@media screen and (max-width: 1024px) {
  .overview-graph-container{
    margin-bottom:6em;
  }
  .tri-1{
    padding-bottom: 6em;
    }

}
@media screen and (max-width: 768px) {
     .overview-cityImg-container-mobile{
      display:block;
      padding-bottom: 0em;
    }
    .overview-cityImg-container{
      display:none;
    }
    .overview-tax-container, .overview-cost-container, .overview-cityImg-container, .overview-cityImg-container-mobile{
    padding-bottom:3em;
    }

}

@media screen and (max-width: 670px) {
    .city-all-container{
      margin: 0.1em;
    }
    .side-nav-item{
      font-size:1.2em;
    }
    .bar-menu-icon{
      margin-top:0.7em;
      margin-left:0.7em;
      margin-bottom: 0em;
    }
    .duo-1{
      margin-top: 1em;
    }
    .r-tabs .r-tabs-panel {
    padding-left: 30px;
    }
    .overview-cityImg-container, .overview-cityImg-container-mobile{
      padding-left:0em;
      padding-top: 0em;
    }
    .overview-tax-container, 
    .overview-cost-container{
     padding-top:0em;
    }
    .overview-cityImg-container-mobile{
      display:block;
      padding-bottom: 0em;
    }
    .overview-cityImg-container{
      display:none;
    }
    .overview-graph-container{
      margin-bottom:0em;
      border-bottom: none;
    }
}

