@media screen and (max-width: 670px) {
    .city-all-container{
      margin: 0.1em;
    }
    .side-nav-item{
      font-size:1.2em;
    }
    .bar-menu-icon{
      margin-top:0.7em;
      margin-left:0.7em;
      margin-bottom: 0em;
    }
    .duo-1{
      margin-top: 1em;
    }
    .r-tabs .r-tabs-panel {
    padding-left: 30px;
    }
    .overview-cityImg-container{
      padding-left:0em;
      padding-top: 0em;
    }
    .overview-city-title{
      padding-bottom:5em;
    }
    .overview-tax-container, 
    .overview-cost-container{
     padding-top:0em;
    }
}
