header{
  text-align: left;
  padding: 0.3em;
}
.header-home{
  display: none;  
}
.moovnon-logo-container{
  text-decoration: none;
}
.moovnon-logo{
  max-height: 50px;
  max-width: auto;
}

.search-page-container{
   margin-right: 2em;
   margin-left: 2em;
   margin-bottom: 2em; 
   display: none;
}

.title-container{
  display: inline-block;
  font-family: Century Gothic, sans-serif;
}
.title{
  margin: 0;
  font-size:1.6em;
}
.sub-title-container{
  margin-bottom:1em;
}
.sub-title{
  margin: 0;
  margin-bottom:0.2em;
}
.show-input {
	display: inline-block;
}
.search-form {
  text-align: center;
  padding: 1em;
}
.search-city{
  min-width: 20em;
}
.map-container{
  text-align: center;
  max-width: 50em;
  margin: auto;
}
.map-image {
  max-width: 80%;
  max-height: auto; 
}
.submit, .compare {
  background: rgb(28, 184, 65);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(28, 184, 65);
  margin-bottom: 3px;
}
.ui-autocomplete{
  background: rgba(255,255,255,0.6);
  max-height: 350px; 
  overflow-y: auto; 
  overflow-x: auto;
}
.flow-container{
  margin-top: 2em;
}
.flow{
  text-align: center;
}
.flow-icon{
  margin: 1.5em auto;
  height:2em;
  width: auto;
  display:block;
}
//overwrites pure changing inputs to display block
@media only screen and (max-width: 480px){
  .pure-form input:not([type]){
  display: inline-block;
  }  
}

