.show-input {
	display: inline-block;
}
.compare-form {
  text-align: center;
  padding: 1em;
}
.map-container {
  background-image: url(../img/Blank_US_Map.svg.png);
  min-height: 100%; 
  width: auto;
}