header{
  text-align: left;
  padding: 0.3em;
}
.moovnon-logo-container{
  text-decoration: none;
}
.moovnon-logo{
  max-height: 50px;
  max-width: auto;
}
.search-page-container{
   margin-bottom: 2em; 
   display: none;
}
.title-container{
  display: inline-block;
  font-family: Century Gothic, sans-serif;
}
.title{
  margin: 0;
  font-size:1.6em;
}
.title-motto{
  font-size: 0.8em;
  font-weight: normal;
}
.sub-title-container{
  margin-bottom:1em;
  margin-top: 2em;
}
.sub-title{
  margin: 0;
  margin-bottom:0.2em;
}
.compare-option {
  float: right;
  color: #00008B;
}
.compare-option:hover {
  cursor: pointer;
}
.show-input {
	display: inline-block;
}
.search-form-searchView {
  text-align: center;
}
.search-city-searchView{
  min-width: 20em;
}
.search-city {
  margin: 0 0 0.2em 0;
}
.search-city-comp {
  margin: 0 0 0.2em 0;
  min-width: 20em;
}
.search-input-container {
  width: 20em;
  margin: auto;
}
.search-btn {
  display: block;
  min-width: 20em;
  margin: 0 auto;
}
.map-container{
  text-align: center;
  margin: auto;
  position: fixed;
  bottom: 0;
}
.map-image {
  max-width: 100%;
  max-height: auto; 
  margin-bottom:-2px;
}
.submit, .compare {
  background: rgb(28, 184, 65);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(28, 184, 65);
  margin-bottom: 3px;
}
.ui-autocomplete{
  background: rgba(255,255,255,0.6);
  max-height: 350px; 
  overflow-y: auto; 
  overflow-x: auto;
}
.flow-container{
  margin-top:5em;
}
.flow{
  text-align: center;
  margin-top:0.5em;
}
.flow-icon{
  margin: auto;
  height: 1.2em;
  width: auto;
  display:block;
  font-size: 3em;
}
.fa-compass{
  color: $graph-color-1;
}
.fa-bar-chart{
  color: $graph-color-2;
}
.fa-globe{
  color: $graph-color-4;
}
.powered-by-container{
  position: fixed;
  text-align: center;
  vertical-align: middle;
  bottom:0;
  right:0;
  display: none;
}
.glass-door{
  display: inline-block;
  max-width: 100px;
  margin-left:1em;
}
.powered-by a{
  text-decoration: none;
  color:black;
  font-size:0.7em;
}

//overwrites pure changing inputs to display block
@media only screen and (max-width: 480px){
  .pure-form input:not([type]){
  display: inline-block;
  }
  .header-home{
    text-align: left;
  }
  .sub-title{
    display:none;
  }
  .sub-title-container{
    margin-top:1em;
  }
}

