.logo-container{
  display: inline-block;
  padding:0.5em;
  padding-bottom: 1em;
  border-bottom:4px solid $dark-primary-color;
}
.side-nav-container{
  max-width:206px;
  float: left;
  position: fixed;
  background-color: #354052;
  color: white;
}
.city-title{
  text-align: center;
  font-size: 1.2em;
}
.side-nav-list{
  background-color: $primary-color;
  color: white;
  height: 100vh;
}
.side-nav-item-container{
  text-decoration: none;
  color:$light-primary-color;
  font-size: 1em;
}
.side-nav-item{
  padding:0.5em;
  padding-left:1em;
  border-left:3px solid $primary-color;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 0.9em;
}

.side-icon{
  min-width:25px;
  color:$light-primary-color;
}
.side-nav-item-container:hover .side-nav-item{
  color:white;
  background: $dark-primary-color;
  border-left:3px solid #B27700;
}

.side-nav-item-active{
  color:white;
  background: $dark-primary-color;
  border-left:3px solid #B27700;
}

.side-nav-item-container:hover .side-icon{
  color:white;
}
.side-icon-active{
  color:white;
}
.bar-menu-icon{
  display: none;
}

.search-form-city-view{
  color:black;
  padding:1em;
  margin-top: 1em;
  border-top:4px solid $dark-primary-color;
}
.search-city-view{
  border-radius: 0.2em;
  border: none;
  padding:0.3em;
  width: 75%;
}
#side-bar-button{
  background-color: $light-primary-color;
  padding:0.4em;
  border: none;
}
.side-bar-background{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5); 
  display: none;
}


@media screen and (max-width: 670px) {
    .side-nav-container{
      z-index: 100;
      width: 100%;
      display: none;
    }
    .bar-menu-icon{
      display: inline-block;
      margin: 1em;
      font-size: 1.2em;
      border:none;
      background:white;
    }
}