.logo-container{
  max-width: 200px;
  display: inline-block;
  margin-bottom:1em;
  padding:0.3em;
}
.side-nav-container{
  max-width:200px;
  float: left;
  position: fixed;
  box-shadow: 2px 0px 7px 2px rgba(0,0,0,0.54);
}
.side-nav-list{
  background-color: $primary-color;
  color: white;
  height: 100vh;
}
.side-nav-item-container{
  text-decoration: none;
  color:$light-primary-color;
  font-size: 1em;
}
.side-nav-item{
  padding:0.5em;
  padding-left:1em;
  border-left:3px solid $primary-color;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 0.9em;
}

.side-icon{
  min-width:25px;
  color:$light-primary-color;
}
.side-nav-item-container:hover .side-nav-item{
  color:white;
  background: $dark-primary-color;
  border-left:3px solid white;
}
.side-nav-item-container:hover .side-icon{
  color:white;
}