@import 'reset';
@import 'mixin';
@import 'tabs/responsive-tabs';
@import 'tabs/tabs-style';
@import 'pure/pure-min';
@import 'pure/grids-responsive-min';
@import 'side-nav';
@import 'search';
@import 'modal';
@import 'city';
@import 'c3';
@import 'alert';


body{
  font-family: Century Gothic, sans-serif;
}
p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.2;
}
.ui-autocomplete{
  border: 1px solid grey;
  width: 4em;
  border-radius: 0.2em;
}
.ui-menu-item:hover{
  background: lightgray;  
}
.pure-g > *{
  box-sizing: border-box; 
}
