<div class ="tab-list-container" id="responsiveTabsDemo">
  <ul>
    <li class="tab-title1"><a href="#tab-1"></a></li>
    <li class="tab-title2"><a href="#tab-2"></a></li>
    <li class="tab-title3"><a href="#tab-3"></a></li>
    <li class="tab-title4"><a href="#tab-4"></a></li>
    <li class="tab-title5"><a href="#tab-5"></a></li>
    <li class="tab-title6"><a href="#tab-6"></a></li>
    <li class="tab-title7"><a href="#tab-7"></a></li>
    <li class="tab-title8"><a href="#tab-8"></a></li>
  </ul>
  <div class="tab-data1" id="tab-1">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data2" id="tab-2">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data3" id="tab-3">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data4" id="tab-4">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data5" id="tab-5">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data6" id="tab-6">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data7" id="tab-7">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data8" id="tab-8">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
<!--  
    <div class = "modal-details">
        </div>-->
</div>



