<div class = "tab-list-container" id="responsiveTabsDemo">
  <ul>
    <li class="banks-tab-title"><a href="#tab-1"> Banks </a></li>
    <li class="taxes-tab-title"><a href="#tab-2"> Taxes </a></li>
    <li class="local-tab-title"><a href="#tab-3"> Local Resources </a></li>
    <li class="leisure-tab-title"><a href="#tab-4"> Popular Leisure </a></li>
  </ul>
  <div class="banks-tab-data" id="tab-1"></div>
    <div class="taxes-tab-data" id="tab-2"></div>
    <div class="local-tab-data" id="tab-3"></div>
    <div class="leisure-tab-data" id="tab-4"></div>
</div>