<div class ="tab-list-container" id="responsiveTabsDemo">
  <ul>
    <li class="tab-title1" id="title-1"><a href="#tab-1"></a></li>
    <li class="tab-title2" id="title-2"><a href="#tab-2"></a></li>
    <li class="tab-title3" id="title-3"><a href="#tab-3"></a></li>
  </ul>
  <div class="tab-data1" id="tab-1">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data2" id="tab-2">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
  <div class="tab-data3" id="tab-3">
    <div class="list-left"></div>
    <div class="details-right"></div>
  </div>
<!--  
    <div class = "modal-details">
        </div>-->
</div>



